In [2]:
tup1=()

In [3]:
type(tup1)

tuple

In [6]:
tup2=(10,20,30,40,10)
tup2

(10, 20, 30, 40, 10)

In [7]:
tup3=(10.2,5.2,15.9,27.8,36.2,42.9,54.1,69.3)
tup3

(10.2, 5.2, 15.9, 27.8, 36.2, 42.9, 54.1, 69.3)

In [8]:
tup4=('one','two',"three")
tup4

('one', 'two', 'three')

In [9]:
tup5=("hyderabad",46,[98,34,76,23],[72,98])
tup5

('hyderabad', 46, [98, 34, 76, 23], [72, 98])

In [10]:
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types

tup7 = ('Asif', 25 , [50, 100], [150, 90] , {'John' , 'David'} , (99,22,33))

In [11]:
tup2[0]

10

In [12]:
tup4[4]

IndexError: tuple index out of range

In [14]:
tup4[2]

'three'

In [15]:
tup7[0][2]

'i'

In [17]:
tup7[-3][1]

90

In [19]:
mytuple =tup7+tup6
mytuple

('Asif',
 25,
 [50, 100],
 [150, 90],
 {'David', 'John'},
 (99, 22, 33),
 100,
 'Asif',
 17.765)

In [20]:
mytuple[0:6]

('Asif', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [21]:
mytuple[:5]

('Asif', 25, [50, 100], [150, 90], {'David', 'John'})

In [23]:
mytuple[-3:] # Return Last three items

(100, 'Asif', 17.765)

In [24]:
mytuple[-1] #last element

17.765

In [33]:
mytuple[:] #complete touple

NameError: name 'mytuple' is not defined

In [27]:
del mytuple[0]  # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

In [30]:
del mytuple # Deleting entire tuple object is possible

NameError: name 'mytuple' is not defined

##Loop through a tuple

In [34]:
for i in tup7:
    print(i)

Asif
25
[50, 100]
[150, 90]
{'David', 'John'}
(99, 22, 33)

In [36]:
for i in enumerate(tup7):
    print(i)

(0, 'Asif')
(1, 25)
(2, [50, 100])
(3, [150, 90])
(4, {'David', 'John'})
(5, (99, 22, 33))

Tuple Membership

In [37]:
[150,90] in tup7

True

In [38]:
149 in tup7

False

In [41]:
if 'David' in tup7: # Check if 'David' exist in the list
    print('David is present in the tuple')
else:
    print('David is not present in the tuple')

David is not present in the tuple

In [42]:
if 'David' in tup7[4]: # Check if 'David' exist in the list
    print('David is present in the tuple')
else:
    print('David is not present in the tuple')

David is present in the tuple

In [52]:
tup7.index('Asif')

0

In [53]:
##Sorting

In [54]:
sorted(tup1)

TypeError: '<' not supported between instances of 'int' and 'str'